:root {
  --soft-blue: #8bacda;
  --cyan: #00fff7;
  --cyan-overlay: #00fff780;
  --very-dark-blue: #0d192b;
  --dark-blue: #14253d;
  --soft-dark-blue: #2f415b;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  color: var(--soft-blue);
}

body {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 40px 24px;
  font-weight: 300;
  background-color: var(--very-dark-blue);
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
}

.card {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 26px;
  max-width: 340px;
  max-height: 585px;
  padding: 24px;
  border-radius: 20px;
  background-color: var(--dark-blue);
}

.card-image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-image-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../images/icon-view.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}

.card-image-overlay:hover {
  cursor: pointer;
  opacity: 1;
  background-color: var(--cyan-overlay);
}

.card-description {
  display: grid;
  gap: 16px;
  width: 100%;
}

.card-info {
  display: grid;
  gap: 16px;
}

h1 {
  font-size: 22px;
  color: var(--white);
}

.card-info a {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}

.card-info > p {
  line-height: 24px;
}

.card-details-container {
  display: flex;
  justify-content: space-between;
}

.card-detail {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  font-size: 15px;
  font-weight: 600;
}

.card-detail__left {
  color: var(--cyan);
}

hr {
  border: 1px solid var(--soft-blue);
  opacity: 0.3;
}

.card-creator {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 33px;
  font-size: 15px;
  font-weight: 400;
}

.card-creator img {
  height: 100%;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.attribution {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  font-size: 11px;
  text-align: center;
}

@media (min-width: 768px) {
  .card-info {
    gap: 24px;
  }

  .card-info > p {
    font-size: 18px;
  }

  .card-description {
    gap: 20px;
  }
}
